*
!.gitignore
!agent.js
!agent-arm64.js
!go.mod
!go.sum
!main.go
!README.md
!utils/
!utils/*
utils/.DS_Store
!utils/playlistdedupe/
!utils/playlistdedupe/*
utils/playlistdedupe/.DS_Store
!config.example.yaml
